body {
    background-color: black;
    height: 100vh;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    flex-direction: column;
}

.h1header {
    color: white;
    font-weight: bold;
}

