body {
    background-color: black;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1header {
    color: white;
    font-weight: bold;
}


.folders {
    display: flex;
    gap: 50px;
    padding: 30px;
} 

.folders img {
    height: 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 15px;
    }

.folders img:hover {
    transform: scale(1.1);
    transition: 300ms ease-in;
    cursor: pointer;
    }

    .btn {
        height: 40px;
        width: 180px;
        border: 2px red solid;
        background-color: transparent;
        color: white;
    }

    .btn :hover {
        transform: scale(1.1);
        transition: all ease 300ms; 
        background-color: red;
        cursor: pointer;
    }

    .forms {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .paragrafobutton {
        font-size: 22px;
        color: white;
        font-weight: bold;
    }